*{
  box-sizing: border-box;
  }

  body h1{
    color:lightgreen;
  }
  body h2{
    color:lightpink;
  }

  body{
    background-color: white;
  }

  .flexboxRow{
    display: flex;
    flex-wrap: wrap;
    

  }
  .flexboxColumn{
    flex: 33%;
    padding: 20px;
    }
  

  @media screen and (max-width:900px){
    .flexboxColumn{
      flex: 100%;
      padding: 20px;
      }
      body h1{
        color:red;
      }
    
  }
